.coinContainer{
    margin: 5px auto;
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
    background-color: #f6f6f6;
}
.Navbar{
    height: 50px;
    width: 52%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 10px;
    margin: 40px auto 5px;
    font-weight: bold;
    color: #eee;
    text-shadow: 1px 1px 2px #818181,2px 1px 4px #000,0px 0px 6px #818181;

}
.input{
    width: 400px;
    margin-top: 50px;
    border: 1px solid silver;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    background-color: #f6f6f6;
    transition: all 0.2 ease;
    
}
.input:focus{
    outline: none;
    border-color: white;
    background-color: #fff;
    box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}