.coinContainer{
    margin: 5px auto;
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
    background-color: #f6f6f6;
}
.Navbar{
    height: 50px;
    width: 40%;
    background: rgb(133, 132, 132);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-radius: 5px;
    margin: 40px auto 5px;
    font-weight: bold;
    padding: 0 38px;
    color: #eee;

}
.Navbar span:nth-child(2){flex-basis: 180px}
.input{
    width: 400px;
    margin-top: 50px;
    border: 1px solid silver;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    background-color: #f6f6f6;
    transition: all 0.2 ease;
    
}
.input:focus{
    outline: none;
    border-color: white;
    background-color: #fff;
    box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 3px;
    color: orangered;
}